<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnrollmentSystem.Properties.Settings.enrollmentConnectionString"
            connectionString="Data Source=ANNONYMOUS-PC\SQLEXPRESS;Initial Catalog=enrollment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EnrollmentSystem.Properties.Settings.dbmsConnectionString"
            connectionString="Data Source=ANNONYMOUS-PC\SQLEXPRESS;Initial Catalog=dbms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EnrollmentSystem.Properties.Settings.dbmsConnectionString1"
            connectionString="Data Source=DESKTOP-CTT3QOT\SQLEXPRESS;Initial Catalog=dbms;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EnrollmentSystem.Properties.Settings.dbmsConnectionString2"
            connectionString="Data Source=DESKTOP-CTT3QOT\SQLEXPRESS;Initial Catalog=dbms;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EnrollmentSystem.Properties.Settings.dbmsConnectionString3"
            connectionString="Data Source=DESKTOP-CTT3QOT\SQLEXPRESS;Initial Catalog=dbms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
